.vs
SaeedPay76.Common/obj
SaeedPay76.Common/bin
SaeedPay76.Data/obj
SaeedPay76.Data/bin
SaeedPay76.presentation/obj
SaeedPay76.presentation/bin
SaeedPay76.Repo/obj
SaeedPay76.Repo/bin
SaeedPay76.Services/obj
SaeedPay76.Services/bin